@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
 
 /* Whole app */ 
 * {
     
     font-family: 'Noto Sans JP', sans-serif;
     margin: 10px
 }
 a {
     color: white;
 }

 button {
    color: white;
    width: 20%;
    height: 100px;
    margin: 20px;
    border-radius: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: larger;
    font-weight: 700;
    border-style: none;
    background-color: #256C70;
}

 /* Nav bar */
nav {
    background-color: #C72C62;
    color: white;
    display: flex;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    justify-content: start;
}

#nav-bar-links {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    font-size:smaller;
}



/* Test list */
#test-list {
    margin-top: 50px;
}

#test {
    display: flex;
}



.list-of-tests {
    display: flex;
    align-items: center;
}

#number-questions {
    font-weight:900;
}


.test-button {
    min-width: 400px;
}

#delete-test-button {
    width:100px;
    height: 20px;
    font-size: x-small;
    background-color: #BF3A2B;
}

 /* Answer section */

 #test-container {
     margin-top: 100px;
 }

 #whole-question {
     margin-top: 50px;
 }

 .likert-buttons {
     display: flex;
     justify-content: space-around;
 }


 #likert-button1 {
     background-color: #BF3A2B;
 }

 #likert-button2 {
     background-color: #E77E23;
 }

 #likert-button3 {
    background-color: #3499DC;
}

#likert-button4 {
    background-color: #16A186;
}

#likert-button5 {
    background-color: #2ECD71;
}

#see-results-button {
}

/* Summary page */

#summary-container {
    margin-top: 50px;
}

#your-total-score-text {
    font-size: xx-large;
    margin-top: 100px;
}

#question-charts-container {
        max-width: 1000px;
        margin: auto;
}

.question-boxes {
    margin: 50px;
}


/* Create test form */

#whole-create-page {
    margin: 100px;
}

#end-text {
    display: none;
}

.next-button {
    color: white;
    width: 10%;
    height: 10%;
    margin: 20px;
    border-radius: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: larger;
    font-weight: 700;
    border-style: none;
    float: right;
    background-color: #256C70;
}

#test-title {
    width: 40%;
}

#submit-title-button {
    width: 10%;
    height: 10%
}

#likert-options-section {
    display: none;
    flex-direction: column;
}

#question-input-section {
    display: none;
}

#likert-options-form {
    display: flex;
}





.likert_input {
    color: white;
    width: 20%;
    height: 100px;
    margin: 20px;
    border-radius: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: larger;
    font-weight: 700;
    border-style: none;
    text-align: center;
}

#likert_option_1 {
    background-color: #BF3A2B;
}
#likert_option_2 {
    background-color: #E77E23;
}
#likert_option_3 {
    background-color: #3499DC;
}
#likert_option_4 {
    background-color: #16A186;
}
#likert_option_5 {
    background-color: #2ECD71;
}

#questions-form {
    display: flex;
    flex-direction: column;
}

.question-input {
    width: 60%;
}

#questions-display-section {
    display: none;
}

#submit-questions-button {
    width: 200px;
}

#create-summary-top {
    display: flex;
    justify-content: space-between;
}




 

