@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
 
 /* Whole app */ 
 * {
     
     font-family: 'Noto Sans JP', sans-serif;
     margin: 10px
 }

 button {
    color: white;
    width: 20%;
    height: 100px;
    margin: 20px;
    border-radius: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: larger;
    font-weight: 700;
    border-style: none;
}

 /* Nav bar */
nav {
    height: 5rem;
    background-color: #C72C62;
    color: white;
    display: flex;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    justify-content: start;
}

#nav-bar {
    font-size:smaller;
}

#nav-bar > a {
    color: white;
}


/* Test list */
#test-list {
    margin-top: 50px;
}

#test {
    display: flex;
}

.test-button {
    background-color: grey;
}


 /* Answer section */


 #likert-buttons {
     display: flex;
     justify-content: space-around;
 }


 #likert-button1 {
     background-color: #BF3A2B;
 }

 #likert-button2 {
     background-color: #E77E23;
 }

 #likert-button3 {
    background-color: #3499DC;
}

#likert-button4 {
    background-color: #16A186;
}

#likert-button5 {
    background-color: #2ECD71;
}

#see-results-button {
        background-color: grey;
}



/* Create test form */

#submit-title-button {
    background-color: #C72C62;
    width: 10%;
    height: 10%
}

#likert-options-section {
    display: none;
    flex-direction: column;
}

#likert-options-form {
    display: flex;
}



.likert_input {
    color: white;
    width: 20%;
    height: 100px;
    margin: 20px;
    border-radius: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: larger;
    font-weight: 700;
    border-style: none;
    text-align: center;
}

#likert_option_1 {
    background-color: #BF3A2B;
}
#likert_option_2 {
    background-color: #E77E23;
}
#likert_option_3 {
    background-color: #3499DC;
}
#likert_option_4 {
    background-color: #16A186;
}
#likert_option_5 {
    background-color: #2ECD71;
}



 

